<launch>
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <arg name="world_file" default="$(find add_markers)/worlds/Apartment.world"/>
  </include>
  <include file="$(find turtlebot_gazebo)/launch/amcl_demo.launch">
      <arg name="map_file" default="$(find add_markers)/maps/apartment.yaml"/>
      <arg name="initial_pose_x" default="0.0"/>
      <arg name="initial_pose_y" default="0.0"/>
      <arg name="initial_pose_a" default="4.71"/>
  </include>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find add_markers)/rviz/home_service.rviz"/>
</launch>